.board {
    width: 500px;
    height: 500px;
    background-color: rgb(143, 143, 143);
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 25px 0;
}

@media (max-width: 600px) {
    .board {
        width: 300px;
        height: 300px;
    }
}